@media print {

    body aside {
        display: none;
    }

    body header {
        display: none;
    }

    body .card-header,
    body .card-footer,
    body button {
        display: none;
    }

    body div #mediaPrint {
        display: flex !important;
    }
}