/* .f tr:first-child td:first-child {
    border-top-left-radius: 10px;
    padding: 10px;
}

.f tr:first-child td:last-child {
    border-top-right-radius: 10px;
    padding: 10px;
}

.f tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    padding: 10px;
}

.f tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.f tr:first-child td {
    border-top-style: solid;
}

.f tr td:first-child {
    border-left-style: solid;
} */